@font-face {
    font-family: 'Nohemi-Bold';
    src: url('./fonts/Nohemi-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nohemi-Medium';
    src: url('./fonts/Nohemi-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Nohemi-Light';
    src: url('./fonts/Nohemi-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Nohemi-Semibold';
    src: url('./fonts/Nohemi-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Nohemi-Regular';
    src: url('./fonts/Nohemi-Regular.ttf') format('truetype');
}


body {
  font-family: "Nohemi", sans-serif;
  margin: 0;
  background-color: #1e1e1e;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

p{
    margin: 0;
}
.txt-block{
    display: block;
}
@media only screen and (max-width: 420px) {
    .txt-block{
        display: contents;
    }
}